<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="list-title">Lists</h1>

      <div class="list-menu">
        <a href="" class="list-menu-item is-active">List 1</a>
        <!-- ng for loop: to iterate over the array of lists 
          and generate HTML elements for each item in the collection. 
          It is commonly used to display lists of items dynamically. -->
        <a
          class="list-menu-item"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          ><p>{{ list.title }}</p></a
        >
      </div>
      <!-- Once click on the button below, navigate to the /new-list page -->
      <button class="list-button" routerLink="/new-list">Add list +</button>
    </div>

    <div class="task-list-container">
      <h1 class="task-title">Tasks</h1>
      <div class="task">
        <p>This is the task content</p>
      </div>

      <div class="task completed">
        <p>This is the task content</p>
      </div>
      <div class="task"*ngFor="let task of tasks">
        <p>{{ task.title }}</p>
      </div>
    </div>
  </div>
</div>
