<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar">
      <h1 class="list-title">Lists</h1>

      <div class="list-menu">
        <a href="" class="list-menu-item is-active">List 1</a>
        <a href="" class="list-menu-item">List 2</a>
        <a href="" class="list-menu-item">List 3</a>
        <a href="" class="list-menu-item">List 4</a>
      </div>

      <button class="list-button">Add list +</button>
    </div>

    <div class="task-list-container">
      <h1 class="task-title">Tasks</h1>
      <div class="task">
        <p>This is the task content</p>
      </div>

      <div class="task completed">
        <p>This is the task content</p>
      </div>
      <div class="task">
        <p>This is the task content</p>
      </div>
    </div>
  </div>
</div>
